{
    "config": {
        "CONFIG_COOKIE_SCOPE": "",
        "CONFIG_DISTANCE_MULTIPLIER": "",
        "CONFIG_HOSTNAME_API": "",
        "CONFIG_HOSTNAME_WEB": "",
        "CONFIG_MAX_IP_USERS": "",
        "MAILER_FROM_ADDRESS": "",
        "LOGIN_FLAGS": "",
        "MAILER_FROM_NAME": "",
        "MAILER_USERNAME": "",
        "MAILER_HOST": "",
        "OAUTH_GOOGLE_CLIENT_ID": "",
        "OAUTH_REDDIT_CLIENT_ID": "",
        "OAUTH_FACEBOOK_APP_ID": "",
        "OAUTH_MICROSOFT_APP_ID": "",
        "OAUTH_TWITTER_API_KEY": ""
    },
    "secret": {
        "DATABASE_URL": "",
        "DATA_URL": "",
        "APP_SECRET": "",
        "MAILER_PASSWORD": "",
        "OAUTH_FACEBOOK_APP_SECRET": "",
        "OAUTH_GOOGLE_CLIENT_SECRET": "",
        "OAUTH_REDDIT_CLIENT_SECRET": "",
        "OAUTH_MICROSOFT_APP_SECRET": "",
        "OAUTH_TWITTER_API_SECRET": "",
        "TOKEN_PRIVATE_KEY": ""
    }
}
