includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    doctrine:
        repositoryClass: App\Data\Database\EntityRepository\AbstractEntityRepository
    ignoreErrors:
        # I need to allow my entity manager decorator to override the default one
        - '#Return type \(App\\Data\\Database\\EntityManager\) of method App\\Data\\Database\\EntityRepository\\AbstractEntityRepository::getEntityManager\(\)#'
        # getXRepo() methods are *designed* to make the return type more specific so will not match ObjectRepository
        - '#but returns App\\Data\\Database\\EntityRepository\\AbstractEntityRepository#'
