[Unit]
Description=Planet Cargo - Handle Arrivals

[Service]
Environment= MY_ENVIRONMENT_VAR =/path/to/file.config
WorkingDirectory=/var/www/api.www.planetcargo.live/
ExecStart=/usr/bin/php app/worker-daemon game:worker:arrival
Restart=always

[Install]
WantedBy=multi-user.target
